:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
}

button,
input {
  font: inherit;
}

a {
  font-weight: 500;
  color: #2f6ea5;
  text-decoration: inherit;
}

a:hover {
  color: #1f5f95;
}

